{
    debug
}

(cors) {
	@cors_preflight method OPTIONS

	header {
		Access-Control-Allow-Origin {header.origin}
		Vary Origin
		Access-Control-Expose-Headers "Authorization"
		Access-Control-Allow-Credentials "true"
        Access-Control-Allow-Headers "Content-Type"
	}

	handle @cors_preflight {
		header {
			Access-Control-Allow-Methods "GET, POST, PUT, PATCH, DELETE"
			Access-Control-Max-Age "3600"
		}
		respond "" 200
	}
}

:80 {
    import cors {header.origin}

    handle_path /convex-host* {
        reverse_proxy host.docker.internal:3210
    }

    reverse_proxy host.docker.internal:3000 {
        header_down -Access-Control-Allow-Origin
        header_down -Access-Control-Allow-Credentials
        header_down -Access-Control-Allow-Methods
        header_down -Access-Control-Allow-Headers
        header_down -Access-Control-Expose-Headers
        header_down -Access-Control-Max-Age
        header_down -Vary
        header_down -Origin
    }
}

